.page-title{
    margin-bottom: 10px;
}


.table-responsive {
    border: none;
    border-radius: unset;
    border-top: 1px solid #CBC9C9;
    border-bottom: 1px solid #CBC9C9;
}
.container.card-container {
    padding: 5px 10px !important;
}
.StepButton-d2-0-2-8.active{
    background-color: #3D5CB8 !important;
    
}
span.StepButtonContent-0-2-5.StepButtonContent-d3-0-2-9.active{
    color: #ffffff !important;
}
.StepButton-0-2-4  {
    /* border: 1px solid #3D5CB8 !important;
    background-color: #F7F7F7 !important; */
}
.StepButtonContent-0-2-5 {
    color: #3D5CB8 !important;
}
.StepButton-d74-0-2-142.active {
    background-color: #3D5CB8 !important;
}
.modal-header {
    border-bottom: none;
}