h4.modal-head{
    color: #7F8087;
    font-weight: 500 !important;
}
h2.modal-head{
    font-size: 20px !important;
}
.kmb-table tr td {
    vertical-align: middle;
}
.table-search {
    margin-top: 8px;
}
.inspection p{
    font-size: 14px !important;
    line-height: 30px;
}
.btn-download{
    top: 20px;
    position: relative;
}