h4.modal-head{
    color: #7F8087;
    font-weight: 500 !important;
}
.table-search {
    margin-top: 8px;
}
.enclosures {
    .col-md-12 {
    clear: both;
    margin-bottom: 15px;
        label {
            width: 50%;
            float: left;
        }
        input {
            width: 45%;
        }
        a{
            width: 45%;
            text-decoration: none;
            color: #2D2F3A;
            border-bottom: 1px solid #CBC9C9;
            margin-left: 40px;
            padding-bottom: 5px;
        }
    }
}
button {
    margin-left: 5px;
    margin-right: 5px;
}
p.display_field {
    border-bottom: 1px solid #ccc;
    color: #2D2F3A;
    padding-top: 12px;
}
.sec-signature{
    margin-top: 30px;
    margin-bottom: 20px;
}